@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body{
    background: #eee;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h3{
    font-size:18px;
    margin: 10px 0;
}

textarea:focus, input:focus{
    outline: none;
    border:none;
    box-shadow: none;
}

.login .logo{
    max-width: 150px;
    width:100%;
    display: block;
    margin: auto;
    margin-top: -100px;
    background: #ffffff;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 0px;
}

.header-logo{
    max-width: 50px;
}

.navbar-brand span{
    font-weight: 500;
    margin-left: 5px;
}

.login{
    background: #ffffff;
    max-width:450px;
    width:100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.login h1{
    text-align: center;
    font-weight: 700;
    color: #313634;
    margin-bottom: 40px;
    margin-top:10px;
}

.login label{
    display: block;
    width: 100%;
    color: #777;
    text-align: left !important;
}

.login input[type="email"], .login input[type="password"]{
    background: #eee;
    border: none;
    padding: 12px 15px;
    font-size: 15px;
}

.login input[type="email"]:focus, .login input[type="password"]:focus{
    border-bottom: solid 2px #456d61;
    box-shadow: none;
}

.login button{
    padding: 10px 30px;
    background: #456d61;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
}

.login button:hover{
    background: #456d61;
}

.challenge{
    background: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    padding: 15px 15px;
    margin-bottom: 10px;
}

.header-right{
    width: 100%;
    float: right;
    text-align: right;
}

.header-right ul{
    padding:0;
    margin:0;
}

.header-right li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.header-right li.streak-icon i{
    color: orange;
}

.header-right li i{
    color: #456d61;
    font-size: 20px;
    margin-right: 5px;
}

.sidebar{
    max-width:200px;
    width: 100%;
    background: #ffffff;
    height: 100vh;
    position: fixed;
    padding: 0;
}

.sidebar ul{
    padding:0;
    margin:0;
}

.sidebar ul li{
    list-style-type: none;
    padding: 10px 10px;
}

.sidebar ul a{
    color: #313634;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.sidebar ul li i{
    color: #456d61;
    width: 23px;
}

.sidebar .active li{
    background: rgba(69, 109, 97, 0.2) !important;
    padding: 10px 10px;
}

.content{
    padding: 30px 30px 30px 230px;
}

.calendar {
    text-align: center;
    margin: 0 auto;
    /* max-width: 600px; */
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .week-grid,
  .month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day {
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
  }

  .daynumber{
    background: #e5e5e5;
    border-radius: 100%;;
    width: 35px;
    height: 35px;
    margin: auto;
    padding: 5px;
    line-height: 25px;
  }

  .currentDay{
    background: #456d61;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: auto;
    padding: 5px;
    line-height: 25px;
  }

  .day-names-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Display day names in a row */
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .day-name, .dayname {
    text-align: center;
    font-weight: bold;
  }
  